{% extends 'layout.html' %}

{% block title %}
Login - Household Services
{% endblock %}
{% block content %}
<h1>Log in</h1>
<form method="post" class ="form">
<label for="username" class="form-label">Email_id :
    <input type="text" name="email" id="email_id" class="form-control">
</label>
<br>
<label for="password" class="form-label">Password :
    <input type="password" name="password" id='password' class="form-control">
</label>
<input type="submit" value="Login" class="btn btn-success">
</form>
{% endblock %}


{% block style %}
    <style>
       form {
            display: flex;
            flex-direction :column;
            align-items : center ;
            margin-top: 0%; 

        } 
        h1 {
            display: flex;
            flex-direction :column;
            align-items :center ;
            margin-top: 12%;
            position: relative;
            top: -10px;
        } 
    </style>
{% endblock %}

